#Configuration sample for MaxScale-2.5

[maxscale]
threads=4
admin_host=0.0.0.0
admin_secure_gui=false

[server1]
type=server
address=192.168.10.212
port=3306
#protocol=MariaDBBackend
protocol=mariadbbackend

[server2]
type=server
address=192.168.10.213
port=3306
#protocol=MariaDBBackend
protocol=mariadbbackend

[server3]
type=server
address=192.168.10.214
port=3306
#protocol=MariaDBBackend
protocol=mariadbbackend

# Monitoring for the servers
[Galera_Monitor]
type=monitor
module=galeramon
servers=server1,server2,server3
user=maxscale
#password=P@ssw0rd
password=3C9851561C3B9415CE06405B7FAEC6AD18D18F2E3BAD1C6C348AEEB46F9D4B32
#detect_stale_master=true

# Galera router service
[Galera_Service]
type=service
router=readwritesplit
servers=server1,server2,server3
user=maxscale
#password=P@ssw0rd
password=3C9851561C3B9415CE06405B7FAEC6AD18D18F2E3BAD1C6C348AEEB46F9D4B32

# Galera cluster listener
[Galera_Listener]
type=listener
service=Galera_Service
protocol=mariadbclient
port=3308

[Sharded-Service]
type=service
router=schemarouter
servers=server4,server5,server6
user=maxscale
password=3C9851561C3B9415CE06405B7FAEC6AD18D18F2E3BAD1C6C348AEEB46F9D4B32

[Sharded-Service-Listener]
type=listener
service=Sharded-Service
protocol=mariadbclient
port=4000
